#header{
background-repeat:repeat-x;
font-family:sans-serif;
font-weight:bold;
width:100%;
margin:0px;
font-size:56px;
height:100px;
padding-top:25px;
}
a{
text-decoration:none;
}
#contentouter{
font-family:sans-serif;
width:900px;
text-align:center;
}
#contentinner{
text-align:left;
width:900px;
}
#nav{
font-family:Trebuchet MS;
margin-right:400px;
text-align:left;
width:900px;
}
#nav a{
font-size:24px;
border-style:solid;
border-width:1px;
}
#headertext{
width:900px;
height:56px;
}
body{
margin:0px;
}
.star{
font-family:Wide Latin;
font-size:36px;
}
td{
padding:5px;
}


